h1 {
	color: #FA8072;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.game-board {
	display: inline-grid;
	grid-template-columns: 150px 150px;
	grid-template-rows: 150px 150px;
	/*margin-left: 300px;*/
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.box {
	border: solid black;
	border-width: thin;
}

main {
	text-align: center;
}

#blue {
	background-color: blue;
	border-radius: 20px;
}

#red {
	background-color: red;
	border-radius: 20px;
}

#yellow {
	background-color: yellow;
	border-radius: 20px;
}

#green {
	background-color: green;
	border-radius: 20px;
}

#start {
	width: 70px;
	height: 40px;
	background-color: #FA8072;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
}

#reset {
	width: 70px;
	height: 40px;
	background-color: #FA8072; 
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
}

/*h4 {
	color: #FA8072;
}*/

body {
	background-color: #F9EDEB;
}