h1 {
	color: #FA8072;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.game-board {
	display: inline-grid;
	grid-template-columns: 150px 150px;
	grid-template-rows: 150px 150px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

main {
	text-align: center;
}

/*.border-radius-20 {
	border-radius: 20px;
}*/

#b0.normal {
	background-color: #60AAF3;
	border-radius: 20px;
	border: solid #1C86EE;
}

#b0.alternate {
	background: url('https://i.imgur.com/DZZosWS.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	border: solid black;
}

#b1.normal {
	background-color: #FF4D4D;
	border-radius: 20px;
	border: solid #FF0000;
}

#b1.alternate {
	background: url('https://i.imgur.com/g6aYAf0.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	border: solid black;
}

#b2.normal {
	background-color: #FFEB4F;
	border-radius: 20px;
	border: solid #FFE303;
}

#b2.alternate {
	background: url('https://i.imgur.com/GiRWqnu.jpg');
	background-position: center;
	background-size: 145px 180px;
	border-radius: 20px;
	border: solid black;
}

#b3.normal {
	background-color: #6DAD4F;
	border-radius: 20px;
	border: solid #3B5E2B;
}

#b3.alternate {
	background: url('https://i.imgur.com/JekK7t9.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	border: solid black;
}

#start {
	width: 70px;
	height: 40px;
	background-color: #FA8072;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
}

#reset {
	width: 70px;
	height: 40px;
	background-color: #FA8072; 
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
}

body.normal {
	background-color: #F9EDEB;
}

body.alternate{
	background: url('https://i.imgur.com/P4IBw1W.jpg')
}



#score.normal {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
}

#score.alternate {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 18px;
	color: #E32636;
	font-weight: bold;
}