h1 {
	color: #CAD7C9;
	text-align: center;
}

.game-board {
	display: inline-grid;
	grid-template-columns: 150px 150px;
	grid-template-rows: 150px 150px;
	/*margin-left: 300px;*/
}

.box {
	border: solid black;
	border-width: thin;
}

main {
	text-align: center;
}

#blue {
	background-color: blue;
}

#red {
	background-color: red;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#start {
	width: 60px;
	height: 30px;
	background-color: #CAD7C9;
}

#reset {
	width: 60px;
	height: 30px;
	background-color: #CAD7C9; 
}

label {
	color: #CAD7C9;
}

body {
	background-color: #484848;
}